@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-image: url("a11b229b98bb091f8d78b8cf73f085599cfcae3a-1920x1080.webp");
  /* background-image: url("https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/stylizedbackgroundimage.png"); */
  /* background-image: url("https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/premierbackgroundimage.png"); */
  background-blend-mode: soft-light;
  background-repeat: no-repeat;

  background-size: cover;
}

.container {
  position: relative;
  display: grid;
  gap: 1em;
  width: 800px;
  height: 500px;
  transition: all 400ms;
}

.container:hover .box-image {
  filter: grayscale(100%) opacity(24%);
  --main-bg-color: var(--role-color);
}
.box {
  align-content: center;
}
.box-image {
  position: absolute;
  background: var(--img) center center;
  background-image: var(--img), var(--background-image), var(--role-color);
  max-width: inherit;
  min-height: 500px;

  background-size: cover;
  transition: all 400ms;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .box-image:hover {
  filter: grayscale(0%) opacity(100%);
  animation: rotate 4s infinite both running;
  animation-timing-function: ease-in-out;
}
.carousel-wrapper {
  display: flex;
  transition: transform 1s ease;
}
.box:nth-child(1),
.box:nth-child(5) {
  transform: translateY(20px);
}

.box:nth-child(2),
.box:nth-child(4) {
  transform: translateY(15px);
}

.box:nth-child(3) {
  transform: translateY(0);
}

.agent-name {
  width: 100%;
  position: absolute;
  align-content: center;
  justify-content: center;
  top: 20px;
  color: white;
  padding: 10px 10px 10px 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  transform: translateY(-60px);
  display: flex;
  opacity: 0;
  transition: all 500ms;
  z-index: 1;
}
.agent-name .p {
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 2px 2px 2px white;
}

.box-image:hover ~ .agent-name {
  /* animation: rotate 0s infinite linear; */
  transform: translateY(-10px);
  opacity: 1;
  transition-delay: 20ms;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
